<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title></title>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
  <body>
    <div id="test">
      <h1>Mustache style：</h1>
      <span>Message: {{ msg }}</span>
      <br/>
      <h1>things that will never change:</h1>
      <span v-once>Message will never change : {{ msgOnce }}</span>
      <br/>
      <h1>we can use javascript in Mustache style:</h1>
      <span>a + b + c + 1: {{ a + b + c + 1 }}</span>
      <br/>
      <span>flag : {{ flag ? "yes" : "no" }}</span>
      <br/>
      <span>we will do reverse to "{{msg}}"=</span>
      <span>{{msg.split('').reverse().join('')}}</span>
      <br/>
      <span v-bind:id="'list-'+id">
        we use vue to set the id for this span dynamicly
      </span>
      <!-- <div v-html="rawHtml">{{ msg }}</div> -->
    </div>

  <script>
  var data = {
    id:'myTest',
    a:1,
    text:'vue 模板测试',
    msg: 'this is a test',
    msgOnce: 'this is a test for once',
    b:2,
    c:3,
    flag: true
  }
  var vm = new Vue({
    el: '#test',
    data: data
  })

  </script>
  </body>
</html>
